<h1>Cinema</h1>

<ul class="tab-selector nav nav-tabs" data-target="subsection" data-loading="subsection-loading">
  <li data-source="<%= url_for :action => :now_playing %>"><a href="#"  data-toggle="tab">Now Playing</a></li>
  <li data-source="<%= url_for :action => :popular %>"><a href="#" data-toggle="tab">Popular</a></li>
  <li data-source="<%= url_for :action => :top_rated %>" ><a href="#" data-toggle="tab">Top Rated</a></li>
</ul>

<div id="subsection-loading">
  <span>Loading ...</span>
</div>
<div id="subsection"></div>