<h1>Cinema</h1>

<ul class="tab-selector" data-target="subsection">
  <li data-source="<%= url_for :action => :now_playing %>">Now Playing</li>
  <li data-source="<%= url_for :action => :popular %>">Popular</li>
  <li data-source="<%= url_for :action => :top_rated %>">Top Rated</li>
</ul>

<div id="subsection"></div>